In [36]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

In [63]:
train = pd.read_csv('./baseball.csv')#your path
train.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

In [15]:
train_X = pd.DataFrame(train, columns =['RS','RA'])
train_y = pd.DataFrame(train, columns =['W'])
X = pd.DataFrame([(713, 614)],
                  columns=['RS', 'RA'])

In [16]:
model = LinearRegression().fit(train_X, train_y).predict(X.values.reshape(1,-1))

In [17]:
model

array([[91.25985109]])

In [20]:
train_X1 = pd.DataFrame(train, columns =['OBP','SLG'])
train_y1 = pd.DataFrame(train, columns =['RS'])
X1 = pd.DataFrame([(0.311, 0.405),(0.297,0.370)],
                    columns=['OBP', 'SLG'])
model1 = LinearRegression().fit(train_X1, train_y1).predict(X1)
print(model1)

[[683.30600816]
 [590.56089716]]

Suppose you are the General Manager of a baseball team, and you are selecting two players for your team. 
You have a budget of $1,500,000, and you have the choice between the following players:
Given your budget and the player statistics, which two players would you select?

In [23]:
Xs = pd.DataFrame([('Eric Chavez',0.338,0.540,1400000),
('Jeremy Giambi',0.391,0.450,1065000),
('Frank Menechino',0.369,0.374,295000),
('Greg Myers',0.313,0.447,800000),
('Carlos Pena',0.361,0.500,300000)],
columns = ['Name','OBP','SLG','Salary'])

In [26]:
train_Xs = pd.DataFrame(Xs, columns =['OBP','SLG'])

In [27]:
model1 = LinearRegression().fit(train_X1, train_y1).predict(train_Xs)

In [29]:
Xs['Predicted_score'] = model1

In [31]:
Xs['salary_per_score'] = Xs['Salary']/Xs['Predicted_score']

In [33]:
Xs.sort_values(by = 'salary_per_score', ascending = True)

              Name    OBP    SLG   Salary  Predicted_score  salary_per_score
4      Carlos Pena  0.361  0.500   300000       969.011194        309.593947
2  Frank Menechino  0.369  0.374   295000       800.441950        368.546401
3       Greg Myers  0.313  0.447   800000       752.705712       1062.832376
1    Jeremy Giambi  0.391  0.450  1065000       978.053414       1088.897585
0      Eric Chavez  0.338  0.540  1400000       964.608124       1451.366587

In 2012 and 2013, there were 10 teams in the MLB playoffs: the six teams that had the most wins in each baseball division, and four "wild card" teams. The playoffs start between the four wild card teams - the two teams that win proceed in the playoffs (8 teams remaining). Then, these teams are paired off and play a series of games. The four teams that win are then paired and play to determine who will play in the World Series. 

We can assign rankings to the teams as follows:

Rank 1: the team that won the World Series
Rank 2: the team that lost the World Series
Rank 3: the two teams that lost to the teams in the World Series
Rank 4: the four teams that made it past the wild card round, but lost to the above four teams
Rank 5: the two teams that lost the wild card round

In [34]:
teamRank = (1,2,3,3,4,4,4,4,5,5)

In 2012, the ranking of the teams and their regular season wins were as follows:

Rank 1: San Francisco Giants (Wins = 94)
Rank 2: Detroit Tigers (Wins = 88)
Rank 3: New York Yankees (Wins = 95), and St. Louis Cardinals (Wins = 88)
Rank 4: Baltimore Orioles (Wins = 93), Oakland A's (Wins = 94), Washington Nationals (Wins = 98), Cincinnati Reds (Wins = 97)
Rank 5: Texas Rangers (Wins = 93), and Atlanta Braves (Wins = 94) 
Create a vector in R called wins2012, that has the wins of each team in 2012, in order of rank (the vector should have 10 numbers).

In [51]:
wins2012 = np.array([(94,1),(88,2),(95,3),(88,3),(93,4),(94,4),(98,4),(97,4),(93,5),(94,5)]).reshape(10,2)
wins2012 = pd.DataFrame(wins2012, columns = ['W','Rank'])

In 2013, the ranking of the teams and their regular season wins were as follows:

Rank 1: Boston Red Sox (Wins = 97)
Rank 2: St. Louis Cardinals (Wins = 97)
Rank 3: Los Angeles Dodgers (Wins = 92), and Detroit Tigers (Wins = 93)
Rank 4: Tampa Bay Rays (Wins = 92), Oakland A's (Wins = 96), Pittsburgh Pirates (Wins = 94), and Atlanta Braves (Wins = 96)
Rank 5: Cleveland Indians (Wins = 92), and Cincinnati Reds (Wins = 90) 
Create another vector in R called wins2013, that has the wins of each team in 2013, in order of rank (the vector should have 10 numbers).

In [52]:
wins2013 = np.array([(97,1),(97,2),(92,3),(93,3),(92,4),(96,4),(94,4),(96,4),(92,5),(90,5)]).reshape(10,2)
wins2013 = pd.DataFrame(wins2013, columns = ['W','Rank'])

In [60]:
#What is the correlation between teamRank and wins2012?
wins2012.corr()

             W      Rank
W     1.000000  0.347713
Rank  0.347713  1.000000

In [61]:
#What is the correlation between teamRank and wins2013?
wins2013.corr()

             W      Rank
W     1.000000 -0.655695
Rank -0.655695  1.000000